/* SNAPSHOT STYLES */
.snapshot-container {
  @apply flex flex-col pt-5 md:pt-14;
}

.snapshot-container-background {
  @apply bg-gray-100;
}

.snapshot-container {
  @apply flex flex-col pt-5 md:pt-14;
}

.snapshot-layout {
  @apply mb-10 flex w-full flex-col gap-4 md:mb-14 lg:flex-row;
}

/* JITTERPLOT STYLES */
.jitterplot-container-background {
  @apply bg-white md:bg-gray-100;
}

.jitterplot-container {
  @apply md:rounded-lg;
}

.jitterplot-card-padding {
  @apply px-0 py-4 sm:p-4;
}

.jitterplot-card {
  @apply relative overflow-hidden rounded-lg md:border;
}

/* TITLE _STYLES */
.section-title-layout {
  @apply mb-5 flex w-full flex-col items-start justify-between gap-2 md:mb-7 md:flex-row md:items-center md:gap-0;
}

.section-title {
  @apply text-xl font-semibold;
}

.doughnut-chart-title {
  @apply text-sm font-bold;
}

.census-text {
  @apply text-sm text-gray-400;
}

/* TOOLTIP STYLES */
.tooltip {
  @apply relative inline-block w-fit overflow-visible;
}

.tooltip .tooltip-content {
  @apply invisible absolute top-4 z-20 inline-block w-max max-w-[200px] -translate-x-1/2 transform rounded bg-black p-3 text-sm font-normal text-white md:-top-2 md:left-[140%] md:max-w-sm md:translate-x-0;
}

@media only screen and (min-width: 768px) {
  .tooltip-content::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #18181b;
    left: -7px;
    top: 7px;
  }
}

.tooltip:hover .tooltip-content {
  @apply visible;
}

.nivo-tooltip {
  @apply flex min-w-max origin-center items-center justify-center rounded bg-black px-[9px] py-[5px] text-sm text-white shadow;
}

.donut-meter::before {
  content: "";
  transform: translate(-50%, -50%);
  @apply absolute left-1/2 top-1/2 h-[75%] w-[75%] rounded-[50%] bg-white transition-all dark:bg-black;
}

/* SLIDER STYLES */
.slick-slider {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-list {
  position: relative;
  display: block !important;
  overflow: hidden;
  padding: 0 0px !important;
  width: 100%;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
}

/* FLOATING ICONS STYLES */
.atom1-rotate {
  transform: rotate(-45deg);
}

.atom2-rotate {
  transform: rotate(-119.89deg);
}

.bar1-rotate {
  transform: rotate(-6.1deg);
}

.bar2-rotate {
  transform: rotate(16deg);
}

.bar3-rotate {
  transform: rotate(7.73deg);
}

.line1-rotate {
  transform: rotate(-10.44deg);
}

.line2-rotate {
  transform: rotate(17.13deg);
}

.pie1-rotate {
  transform: rotate(-167.73deg);
}

.pie3-rotate {
  transform: rotate(-138.9deg);
}

.atom1-float {
  position: absolute;
  top: 132px;
  left: 416px;
  opacity: 0.8;
  animation: bounce 3s infinite;
}

.atom2-float {
  position: absolute;
  top: 643px;
  left: 1155px;
  opacity: 0.4;
  animation: bounce 4s infinite;
}

.bar1-float {
  position: absolute;
  top: 588px;
  left: 830px;
  opacity: 0.3;
  filter: blur(3.5px);
  animation: bounce 4s infinite;
}

.bar2-float {
  position: absolute;
  top: 184px;
  left: 756px;
  opacity: 0.8;
  animation: bounce 5s infinite;
}

.bar3-float {
  position: absolute;
  top: 314px;
  left: 6px;
  opacity: 0.3;
  animation: bounce 4s infinite;
}

.line1-float {
  position: absolute;
  top: 615px;
  left: 174px;
  opacity: 0.8;
  animation: bounce 3s infinite;
}

.line2-float {
  position: absolute;
  top: 69px;
  left: 1214px;
  opacity: 0.4;
  animation: bounce 5s infinite;
}

.pie1-float {
  position: absolute;
  top: 355px;
  left: 1407px;
  opacity: 0.5;
  filter: blur(3.5px);
  animation: bounce 4s infinite;
}

.pie2 {
  position: absolute;
  top: 100px;
  left: 114px;
  opacity: 0.8;
  filter: blur(2px);
  animation: bounce 4s infinite;
}

.pie3-float {
  position: absolute;
  top: 599px;
  left: 489px;
  opacity: 0.8;
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-20%);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
}
