@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

@layer base {
  * {
    @apply text-white;
  }
  h1 {
    @apply font-header text-4xl font-bold leading-[54px];
  }

  h2 {
    @apply font-header text-3xl font-bold leading-[38px] dark:text-white;
  }

  h3 {
    @apply font-header text-2xl font-bold leading-[32px] dark:text-white;
  }

  h4 {
    @apply font-header text-xl font-bold leading-[28px] dark:text-white;
  }
  h5 {
    @apply text-lg font-bold tracking-normal dark:text-white;
  }

  h6 {
    @apply text-base font-semibold uppercase tracking-wider text-gray-500;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    appearance: none;
  }
}

.monaco-editor .monaco-editor-background {
  @apply bg-black;
}
.monaco-editor .margin {
  @apply bg-black !important;
}
